<html xmlns:th="https://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/fileinput.min.js"></script>
</head>
<body>

<div class="container" align="center">
    <form method="POST" enctype="multipart/form-data" action="/">

        <div>
            <input type="file" onchange="setAddonName(this.value)" id="file" class="input-file"
                   name="file"/>
        </div>
        <div>
            <input type="text" onkeyup="validateAddonName()" placeholder="Имя аддона" id="addon_name"
                   class="form-control" name="addon_name"/>
            Версия Logix
            <select class="form-control" name="version" id="version">
                <option value="16">16</option>
                <option value="19">19</option>
            </select>

            <input id="create" type="submit" class="btn btn-outline-secondary" value="Создать аддон"/>
        </div>

    </form>
    <hr>
    <div class="form-check form-check-inline"
         th:each="file : ${files}">
        <span style="color: blue;" th:text="${message}"></span><br>
        <a class="btn btn-outline-primary" th:href="${file}">
            Скачать
        </a>
        <hr>
        Вызов: <span style="color: #c300ff; font-weight: bold;" th:text="${addon}">Calibration</span>
        (<span style="color: #436a06;" th:text="${addon}">Calibration</span>,
        <span style="color: #1580bd;">level, level_0, level_100, input_units, max_index,</span>
        <span style="color: #245a07;">volume</span>,
        <span style="color: #bd1545;">error</span>
        );
        <hr>
        <div th:align="left">
            <span style="color: #1580bd; font-weight: bold;">level</span> - входной сигнал
            <br>
            level_0 - значение в калибровочной таблице, соответствующее 0%
            <br>
            level_100 - значение в калибровочной таблице, соответствующее 100%
            <br>
            input_units - единицы измерения входгого сигнала (0-%, 1-мм, 2-см, 3-м)
            <br>
            max_index - количество строк в калибровочной таблице
            <br>
            <span style="color: #245a07; font-weight: bold;">volume</span> - выходное значение объема в м3
            <br>
            <span style="color: #bd1545; font-weight: bold;">error</span> - признак ошибки (0 - нет, 1 - входное значение
            вне диапазона калибровочной таблицы)
        </div>
    </div>
</div>

</body>

<script>

    $(function() {
        $(".input-file").fileinput('<button class="btn btn-outline-secondary">Выберите файл с калибровочной таблицей</button>');
        $("#create").hide();
    });

    function setAddonName(input) {
        const tableName = input.substring(input.lastIndexOf('\\') + 1);
        let addonName = '';
        if (tableName.length > 0) {
            addonName = 'Calibration_' + input.substring(input.lastIndexOf('\\') + 1);
        }

        $("#addon_name").val(addonName);
        createButtonVisiblity(addonName);
    }

    function validateAddonName() {
        const addonName = $("#addon_name").val();
        createButtonVisiblity(addonName);
    }

    function createButtonVisiblity(addonName) {
        const tableName = $("#file").val();
        if (addonName.length > 0 && tableName.length > 0) {
            $("#create").show();
        } else {
            $("#create").hide();
        }
    }

</script>

</html>
