<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" align="center">
    <form method="POST" enctype="multipart/form-data" action="/">

        <div>
            <label class="form-label" for="file">Файл с калибровочной таблицей</label>
            <input type="file" id="file" class="form-control" name="file" />
        </div>
        <div>
            <input type="submit" class="btn btn-outline-secondary" value="Создать аддон"/>
        </div>

    </form>

    <div class="form-check form-check-inline"
         th:each="file : ${files}">
        <a class="btn btn-outline-secondary" th:href="${file}" >
            Ваш аддон
        </a>
    </div>
</div>

</body>
</html>
